<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Capacity" value="10"/>
    <add key="FillCount" value="20"/>
    <add key="Vessels.Names" value="Rocinante,Nauvoo,Donnager"/>
    <add key="Transaction.Names" value="CHOAM,Weyland Yutani Corporation,Tyrell Corporation"/>
    <add key="Message.Names" value="Dave Matthews Band,Arron Neville,Big Freedia"/>
  </appSettings>
</configuration>